.plantContiner{
	display: flex;
	align-items: center;
	justify-content: center;
}
.plantItem{
	padding-right: 50px;
}
.plantCreationContiner{
	display: flex;
	align-items: center;
	justify-content: center;
}
.plantCreationItem{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding-right: 5px;
}
